@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@mixin default-style {
    margin: 0px;
    padding: 0px;
    font-size: $font-size;
    font-family: $font-family;
    
}

$primary-color: (
    cyan: hsl(179, 62%, 43%),
    yellow: hsl(71, 73%, 54%)
);

$neutral-color: (
    light-gray: hsl(204, 43%, 93%),
    blue-gray: hsl(218, 22%, 67%)
);

$font-size: 16px;
$font-family: 'Karla';
$font-weight: ('regular': 400, 'bold': 700);

$mobile-width: 375px;
$desktop-width: 1440px;


/* General Styles */

* {
    @include default-style();
}

body {
    display: grid;
}

.button:hover {
    cursor: pointer;
}

/* Mobile Styles */

@media screen and (min-width: $mobile-width) {
    body {
        grid-template-areas: 
            "top"
            "middle"
            "bottom";
        grid-template-columns: 1fr;
        margin: 1rem 1rem;
        border: 0px solid map-get($map: $neutral-color, $key: light-gray);
        border-radius: 5px;
        box-shadow: map-get($map: $neutral-color, $key: light-gray) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    .card {
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        .card__heading {
            font-weight: map-get($map: $font-weight, $key: bold);
            font-size: 1.75rem;
        }
        .card__guarantee {
            color: map-get($map: $primary-color, $key: yellow);
            font-weight: map-get($map: $font-weight, $key: bold);
            margin: 1.5rem auto;
        }
        &.card__top {
            grid-area: top;
            background-color: white;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            .card__heading {
                color: map-get($map: $primary-color, $key: cyan);
            }
            .card__info {
                color: map-get($map: $neutral-color, $key: blue-gray);
                line-height: 2rem;
                margin: 1.5rem auto;
            }
        }
        &.card__middle {
            grid-area: middle;
            background-color: darken(map-get($map: $primary-color, $key: cyan), 3%);
            & p {
                color: white;
            }
            & div {
                color: white;
            }
            .card__info {
                line-height: 2rem;
                margin: 1.5rem auto;
            }

        }
        &.card__bottom {
            grid-area: bottom;
            background-color: map-get($map: $primary-color, $key: cyan);
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            & p {
                color: white;
                line-height: 1.75rem;
            }
            & div {
                color: white;
            }
            .card__info {
                margin: 1.5rem auto;
            }
        }
        .price {
            font-size: 2.5rem;
            font-weight: map-get($map: $font-weight, $key: bold);
            color: white;
        }
    }

    .button {
        color: white;
        background-color: map-get($map: $primary-color, $key: yellow);
        font-weight: map-get($map: $font-weight, $key: bold);
        text-align: center;
        margin: 2rem 1.5rem;
        padding: 1rem;
        border-radius: 5px;
    }
}

/* Desktop Styles */

@media screen and (min-width: $desktop-width){
    body {
        margin: 3rem auto;
        max-width: 50vw;
        max-height: 40vh;
        grid-template-areas: 
            "card__top card__top"
            "card__middle card__bottom";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        
    }

    .card {
        padding: 2rem;
        .card__heading {
            padding-top: 1rem;
        }
        .card__guarantee {
            margin: 1rem auto;
        }
        &.card__top {
            grid-area: card__top;
        }
        &.card__middle {
            grid-area: card__middle;
            border-bottom-left-radius: inherit;
        }
        &.card__bottom {
            grid-area: card__bottom;
            border-bottom-left-radius: 0px;
            
        }
        .button {
            margin: 0 auto;
        }
    }
}
